python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.3
robotframework==7.0.1
robotframework-pythonlibcore==4.4.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.3.0
robotframework-sshlibrary==3.8.0